# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
dist
build

# don't lint cache output
.cache
.next
.vercel
.keystone

# don't lint nyc coverage output
coverage

# don't link vscode project settings
.vscode

# don't lint tooling config files
remix.config.js
jest.setup.js
jest.config.js
postcss.config.js
webpack.config.js
tailwind.config.js

worker/index.js
public/sw.js
