{
  "extends": ["eslint-config-asjas/react-typescript"],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "tsconfig.json"
  },
  "rules": {
    "consistent-return": 0,
    "jsx-a11y/media-has-caption": 1
  }
}
