:focus:not(:focus-visible) {
  outline: none;
}

[hidden] {
  pointer-events: none;
}

html,
body {
  height: 100%;
}

/* Custom Scrollbar Styles */
body::-webkit-scrollbar {
  width: 6px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: hsl(37deg 100% 50%);
}

body::-webkit-scrollbar-track {
  background: hsl(0deg 0% 10%);
}

body::-webkit-scrollbar-thumb {
  background-color: hsl(37deg 100% 50%);
  border: hsl(37deg 100% 50%);
}

.stack {
  --margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack:only-child {
  height: 100%;
}

.stack > * + * {
  margin-top: var(--margin-top);
}
